[submodule "examples"]
	path = examples
	url = https://github.com/webrogue-runtime/webrogue-examples.git
[submodule "external/llvm"]
	path = external/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "external/gfxstream"]
	path = external/gfxstream
	url = https://github.com/webrogue-runtime/gfxstream.git
[submodule "external/aemu"]
	path = external/aemu
	url = https://github.com/webrogue-runtime/aemu.git
[submodule "external/wasmtime"]
	path = external/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
