compile_commands.json
/build
.DS_Store
/artifacts
.vscode/c_cpp_properties.json
/.idea/
cmake-build-*/
*.kdev*
perf.data
/.vscode
/platforms/*/build/
/Android/.idea/workspace.xml
/platforms/Android/app/src/main/res/raw/core
/platforms/Android/app/src/main/res/raw/log2048
.cache
.vs
/out
/platforms/Android/app/src/main/java/org/libsdl/app
/embedded_resources
cmake_build
platforms/MacOS/webrogue.xcworkspace/xcuserdata
/lldcache
/mods/tools/generated_toolchain.cmake
/mods/tools/linker_path.cmake
/mods/tools/import_analyze*
/build_compile_commands
mods/*/mod.a
vfs.db
webrogue.db
/wasmedge_aot_cache
cert.pem
key.pem
/mods/tools/wasi-sysroot*
/mods/tools/wasi-sdk*
AppImageTool.AppImage
App.AppImage
