[submodule "external/wasmtime"]
	path = external/wasmtime
	url = https://github.com/webrogue-runtime/wasmtime.git
[submodule "examples"]
	path = examples
	url = https://github.com/webrogue-runtime/webrogue-examples.git
[submodule "external/wasmer"]
	path = external/wasmer
	url = https://github.com/webrogue-runtime/wasmer.git
