[package]
name = "webrogue-wasmtime"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[features]
jit = ["wasmtime/cranelift", "wasmtime/winch", "wasmtime/debug-builtins", "wasmtime/debug-builtins", "wasmtime/parallel-compilation", "wasmtime/addr2line"]
aot = ["dep:webrogue-aot-data"]
cache = ["wasmtime/cache"] # TODO "wasmtime/incremental-cache"

[dependencies]
webrogue-gfx = { workspace = true }
webrogue-gfxstream = { workspace = true }
anyhow = { workspace = true }
webrogue-wrapp = { workspace = true }
webrogue-wasip1 = { workspace = true }
wasmtime = { workspace = true, default-features = false, features = ["runtime", "threads", "gc", "gc-drc"] }
wasi-common = { workspace = true, default-features = false, features = ["sync"] }
wiggle = { workspace = true, default-features = false, features = ["wasmtime"] }
webrogue-aot-data = { workspace = true, optional = true }
wasmtime-wasi-threads = { workspace = true }
