[package]
name = "webrogue-macos"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[features]
runtime = ["webrogue-wasmtime/jit", "webrogue-wasmtime/cache"]
runner = ["webrogue-wasmtime/aot"]

[lib]
name = "webrogue_macos"
crate-type = ["staticlib"]

[dependencies]
anyhow = { workspace = true }
webrogue-wasmtime = { workspace = true }
webrogue-gfx-winit = { workspace = true }

