[package]
name = "webrogue-ios"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true

[features]
# default = ["launcher"]
launcher = ["webrogue-wasmtime/jit", "webrogue-launcher"] # jit issue
runner = ["webrogue-wasmtime/aot"]

[lib]
name = "webrogue_ios"
crate-type = ["staticlib"]

[dependencies]
anyhow = { workspace = true }
webrogue-wasmtime = { workspace = true }
webrogue-wrapp = { workspace = true }
webrogue-launcher = { workspace = true, optional = true }
winit = { workspace = true, default-features = true }
webrogue-gfx-winit = { workspace = true, features = ["static-vk"] }
