windows/windows_hdd_ng.img
windows/windows-10-22h2-build-19045.iso
windows/Windows.iso
windows/windows_hdd_ng.qcow2
windows/virtio-win-0.1.240.iso
windows/things.iso
windows/things/ZeroTier.msi
windows/things/virtio-win.iso

macos/macos-catalina
macos/macos-catalina.conf
keys/jenkins_rsa.pub
keys/jenkins_rsa
keys/compose.env
windows/things/authorized_keys
macos/macos-monterey.conf
macos/macos-monterey
keys/android_store_password
keys/android_key_password
