/external/SDL3.zip
/external/SDL3
/external/libEGL.xcframework
/external/libGLESv2.xcframework
/external/angle_ios_headers
/external/angle_ios_headers.zip
*.xcuserstate
/external/macos_fat.zip
/webrogue.xcodeproj
*.xcbkptlist
