/external/SDL2.zip
/external/SDL2
/external/libEGL.xcframework
/external/libGLESv2.xcframework
/external/angle_ios_headers
/external/angle_ios_headers.zip
*.xcuserstate
/external/macos_fat.zip
/webrogue.xcodeproj
*.xcbkptlist
/macos/runner/aot.wrapp
/macos/runner/aot.*.*.o
/ios/runner/aot.wrapp
/ios/runner/aot.*.*.o
