name:  Build Webrogue CLI utility

on:
  workflow_call:

jobs:
  linux_artifacts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Build AOT artifacts
      run: |
        sh linux/build_template.sh

    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts-Linux
        retention-days: 1
        if-no-files-found: error
        path: aot_artifacts

  windows_artifacts:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Setup Python
      run: |
        python3 -m pip install requests

    - name: Build AOT artifacts
      shell: cmd 
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        python3 windows/msvc/build_template.py

    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts-Windows
        retention-days: 1
        if-no-files-found: error
        path: aot_artifacts

  android_artifacts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/llvm external/zstd-rs examples
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Setup Rust
      run: |
        rustup target add aarch64-linux-android
  
    - name: Build AOT artifacts
      run: |
        sh android/runtime/build_native_code.sh aot
        sh android/template/build_template.sh

    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts-Android
        retention-days: 1
        if-no-files-found: error
        path: aot_artifacts

  apple_artifacts:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Install Xcodegen
      run: |
        brew install xcodegen
    
    - name: Setup Rust
      run: |
        rustup target add x86_64-apple-darwin
        rustup target add x86_64-apple-ios
        rustup target add aarch64-apple-darwin
        rustup target add aarch64-apple-ios
        rustup target add aarch64-apple-ios-sim
  
    - name: Build AOT artifacts
      run: |
        sh apple/template/build_template.sh

    - uses: actions/upload-artifact@v4
      with:
        name: Artifacts-Apple
        retention-days: 1
        if-no-files-found: error
        path: aot_artifacts

  linux-x86_64-glibc-cli:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/llvm external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Build
      run: |
        sh linux/build_cli.sh

    - uses: actions/upload-artifact@v4
      with:
        name: CLI-linux-x86_64-glibc-raw
        retention-days: 1
        if-no-files-found: error
        path: linux/target/x86_64-unknown-linux-gnu/cli/webrogue

  macos-arm64-cli:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/llvm external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Setup Rust
      run: |
        rustup target add aarch64-apple-darwin
  
    - name: Build
      run: |
        cargo build --profile=cli --target=aarch64-apple-darwin --features=full

    - uses: actions/upload-artifact@v4
      with:
        name: CLI-macOS-arm64-raw
        retention-days: 1
        if-no-files-found: error
        path: target/aarch64-apple-darwin/cli/webrogue

  macos-x86_64-cli:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/llvm external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Setup Rust
      run: |
        rustup target add x86_64-apple-darwin
  
    - name: Build
      run: |
        cargo build --profile=cli --target=x86_64-apple-darwin --features=full

    - uses: actions/upload-artifact@v4
      with:
        name: CLI-macOS-x86_64-raw
        retention-days: 1
        if-no-files-found: error
        path: target/x86_64-apple-darwin/cli/webrogue

  windows-x86_64-cli:
    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/llvm external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Build
      shell: cmd 
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        REM gfxstream doesn't seem to support MSVC
        set CXX=clang-cl
        cargo build --target=x86_64-pc-windows-msvc --features=full --profile cli

    - uses: actions/upload-artifact@v4
      with:
        name: CLI-windows-x86_64-raw
        retention-days: 1
        if-no-files-found: error
        path: target/x86_64-pc-windows-msvc/cli/webrogue.exe
