name: Webrogue CI

on: [push, pull_request]
jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Cargo test
      run: |
        cargo test --workspace \
          --exclude webrogue-hub-client-openapi \
          --exclude webrogue-launcher-dev \
          --exclude webrogue-launcher \
          --exclude webrogue-android-launcher \
          --exclude webrogue-wrapp-reader \
          --exclude webrogue-aot-data

  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Cargo test
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        REM gfxstream doesn't seem to support MSVC
        set CXX=clang-cl
        cargo test --workspace --exclude webrogue-hub-client-openapi --exclude webrogue-launcher-dev --exclude webrogue-launcher --exclude webrogue-android-launcher --exclude webrogue-wrapp-reader --exclude webrogue-aot-data

  macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1 external/wasmtime external/gfxstream external/zstd-rs
        git -C external/zstd-rs/ submodule update --init zstd-safe/zstd-sys/zstd

    - name: Cargo test
      run: |
        cargo test --workspace \
          --exclude webrogue-hub-client-openapi \
          --exclude webrogue-launcher-dev \
          --exclude webrogue-launcher \
          --exclude webrogue-android-launcher \
          --exclude webrogue-wrapp-reader \
          --exclude webrogue-aot-data

  build_cli:
    uses: ./.github/workflows/build_cli.yml
